<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>control.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogOutServlet</servlet-name>
  	<display-name>LogOutServlet</display-name>
  	<description></description>
  	<servlet-class>control.LogOutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddUserServlet</servlet-name>
  	<display-name>AddUserServlet</display-name>
  	<description></description>
  	<servlet-class>control.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserListServlet</servlet-name>
  	<display-name>UserListServlet</display-name>
  	<description></description>
  	<servlet-class>control.UserListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeletUserServlet</servlet-name>
  	<display-name>DeletUserServlet</display-name>
  	<description></description>
  	<servlet-class>control.DeletUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateUserServlet</servlet-name>
  	<display-name>UpdateUserServlet</display-name>
  	<description></description>
  	<servlet-class>control.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>beforeabdate</servlet-name>
  	<display-name>beforeabdate</display-name>
  	<description></description>
  	<servlet-class>control.beforeabdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>profileServlet</servlet-name>
  	<display-name>profileServlet</display-name>
  	<description></description>
  	<servlet-class>control.profileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModuleListServlet</servlet-name>
  	<display-name>ModuleListServlet</display-name>
  	<description></description>
  	<servlet-class>control.ModuleListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModuleDisplayServlet</servlet-name>
  	<display-name>ModuleDisplayServlet</display-name>
  	<description></description>
  	<servlet-class>control.ModuleDisplayServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeletSemainServlet</servlet-name>
  	<display-name>DeletSemainServlet</display-name>
  	<description></description>
  	<servlet-class>control.DeletSemainServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSemainServlet</servlet-name>
  	<display-name>AddSemainServlet</display-name>
  	<description></description>
  	<servlet-class>control.AddSemainServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProfileServlet</servlet-name>
  	<display-name>UpdateProfileServlet</display-name>
  	<description></description>
  	<servlet-class>control.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeletSupportServlet</servlet-name>
  	<display-name>DeletSupportServlet</display-name>
  	<description></description>
  	<servlet-class>control.DeletSupportServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateSupportServlet</servlet-name>
  	<display-name>UpdateSupportServlet</display-name>
  	<description></description>
  	<servlet-class>control.UpdateSupportServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSupportServlet</servlet-name>
  	<display-name>AddSupportServlet</display-name>
  	<description></description>
  	<servlet-class>control.AddSupportServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FileUploadServlet</servlet-name>
  	<display-name>FileUploadServlet</display-name>
  	<description></description>
  	<servlet-class>control.FileUploadServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>download</servlet-name>
  	<display-name>download</display-name>
  	<description></description>
  	<servlet-class>control.download</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateSemainServlet</servlet-name>
  	<display-name>UpdateSemainServlet</display-name>
  	<description></description>
  	<servlet-class>control.UpdateSemainServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeacherListServlet</servlet-name>
  	<display-name>TeacherListServlet</display-name>
  	<description></description>
  	<servlet-class>control.TeacherListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EtudiantListServlet</servlet-name>
  	<display-name>EtudiantListServlet</display-name>
  	<description></description>
  	<servlet-class>control.EtudiantListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddEtu_ENS_MO_SP</servlet-name>
  	<display-name>AddEtu_ENS_MO_SP</display-name>
  	<description></description>
  	<servlet-class>control.AddEtu_ENS_MO_SP</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addModule_spec</servlet-name>
  	<display-name>addModule_spec</display-name>
  	<description></description>
  	<servlet-class>control.addModule_spec</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogOutServlet</servlet-name>
  	<url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddUserServlet</servlet-name>
  	<url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserListServlet</servlet-name>
  	<url-pattern>/UserListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletUserServlet</servlet-name>
  	<url-pattern>/DeletUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateUserServlet</servlet-name>
  	<url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>beforeabdate</servlet-name>
  	<url-pattern>/beforeabdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>profileServlet</servlet-name>
  	<url-pattern>/profileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ModuleListServlet</servlet-name>
  	<url-pattern>/ModuleListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ModuleDisplayServlet</servlet-name>
  	<url-pattern>/ModuleDisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletSemainServlet</servlet-name>
  	<url-pattern>/DeletSemainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSemainServlet</servlet-name>
  	<url-pattern>/AddSemainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProfileServlet</servlet-name>
  	<url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletSupportServlet</servlet-name>
  	<url-pattern>/DeletSupportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateSupportServlet</servlet-name>
  	<url-pattern>/UpdateSupportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSupportServlet</servlet-name>
  	<url-pattern>/AddSupportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FileUploadServlet</servlet-name>
  	<url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>download</servlet-name>
  	<url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateSemainServlet</servlet-name>
  	<url-pattern>/UpdateSemainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeacherListServlet</servlet-name>
  	<url-pattern>/TeacherListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EtudiantListServlet</servlet-name>
  	<url-pattern>/EtudiantListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddEtu_ENS_MO_SP</servlet-name>
  	<url-pattern>/AddEtu_ENS_MO_SP</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addModule_spec</servlet-name>
  	<url-pattern>/addModule_spec</url-pattern>
  </servlet-mapping>
</web-app>
